*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    margin-top: 5% !important;
    font-weight: 700 !important;
    text-align: center;
}

form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5% !important;
}
div{
    margin-top: 2%;
    margin-bottom: 2%;
}
p{
    margin-left: 12px;
    width: 370px;
}
input{
    width: 60%;
    border-radius: 20px;
    padding-left: 12px;
}

button{
    width: 15%;
    border-radius: 20px !important;
    background-color: black;
    color: aliceblue;
}

.email{
    margin-right: 5%;
}
.pass{
    width: 81%;
}
.passreset{
    margin-left: 85%;
    padding-bottom: 1%;
    padding-top: 1%;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
form :hover{
    background-color: #fff;
    color: black !important;
}